<header>
  <h1 class="h2">Customer Search</h1>
</header>

<article ng-app="customers" ng-controller="CustomerSearchControl">

<section class="search-form">
  <form>
    <div class="input-group input-group-lg">
      <label for="keywords" class="sr-only">Keywords</label>
      <input name="keywords" class="form-control input-lg"
        placeholder="First Name, Last Name, or Email Address",
        ng-model="keywords" value="<%= params[:keywords] %>">
      <span class="input-group-btn">
        <button class="btn btn-primary btn-lg"
          ng-click="search(keywords)">
          Find Customers
        </button>
      </span>
    </div>
  </form>

  <h1 class="searchedFor" ng-if="searchedFor">
    <small>Searched for:</small> {{searchedFor}}
  </h1>
</section>

<section class="search-results">
  <header>
    <h1 class="h3">Results</h1>
  </header>
  <%= render "pager", keywords: @keywords, page: @page %>

  <ol class="list-group">
    <% @customers.each do |customer| %>
      <li class="list-group-item clearfix">
        <h3 class="pull-right">
          <small class="text-uppercase">Joined</small>
          <%= customer.created_at.to_date %>
        </h3>
        <h2 class="h3">
          <%= customer.full_name %>
          <small><%= customer.username %></small>
        </h2>
        <h4><%= customer.email %></h4>
      </li>
    <% end %>
  </ol>
  
  <%= render "pager", keywords: @keywords, page: @page %>
</section>

</article>

